    @font-face {
        font-family: Lato Regular;
        src: url(../fonts/Lato/Lato-Regular.ttf);
    }

    @font-face {
        font-family: Lato Bold;
        src: url(../fonts/Lato/Lato-Bold.ttf);
    }

    @font-face {
        font-family: Lato Light;
        src: url(../fonts/Lato/Lato-Light.ttf);
    }

    @font-face {
        font-family: Lato Semibold;
        src: url(../fonts/Lato/Lato-Semibold.ttf);
    }

    @font-face {
        font-family: Lato-Medium;
        src: url(../fonts/Lato/Lato-Medium.ttf);
    }

    @font-face {
        font-family: OpenSans-Regular;
        src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: OpenSans-SemiBold;
        src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
    }

    body .container {
        width: 1380px;
        background: #f7f7f7;
    }

    @media screen and (max-width: 576px) {
        body .container {
            max-width: 100%;
        }
    }

    header .navbar {
        background: #f7f7f7;
        box-shadow: 0 10px 15px -10px rgba(92, 82, 79, 0.4);
        min-height: 93px;
    }

    header .navbar .invisible-brand {
        border: none;
        background: #f7f7f7;
        z-index: 1;
        padding: 15px 30px;
        width: 180px;
    }

    .hol {
        display: none;
    }

    .gold {
        display: none;
    }

    header .navbar .brand2 {
        display: none;
    }

    @media screen and (max-width: 992px) {
        header .navbar .brand2 {
            display: inline-block;
            z-index: 1;
            background: #f7f7f7;
            width: 190px;
            padding: 10px 35px 20px 35px;
            border-radius: 15px;
            margin: auto;
            margin-left: 0;
        }
        header .navbar .button-burger {
            display: inline-block;
        }
        header .navbar-nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-flow: row wrap;
            align-items: center;
        }
        header .navbar-nav .nav-item {
            margin-top: 20px !important;
            text-align: center;
        }
    }

    @media screen and (max-width: 290px) {
        header .navbar .button-burger {
            position: inherit;
        }
    }

    @media screen and (max-width: 200px) {
        header .navbar .brand2 {
            padding-left: 0;
            width: 100%;
            margin: auto;
        }
    }

    header .navbar .button-burger {
        margin-top: 18px;
        width: 60px;
        z-index: 9999;
        right: 0;
    }

    header .navbar .collapse {
        align-items: center;
    }

    header .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: transparent;
        flex-grow: 1;
        width: 100%;
    }

    @media screen and (max-width: 992px) {
        header .navbar {
            height: auto;
            min-height: 95px;
        }
        header .navbar-nav .logo {
            display: none;
        }
    }

    header .navbar-nav .nav-item {
        margin-left: 20px !important;
        margin-top: 0;
    }

    header .navbar-nav .nav-item .navbar-brand {
        margin: auto 2rem;
        padding-bottom: 10px;
        padding-top: 0;
    }

    header .navbar-nav .active .nav-link {
        color: #d5931c !important;
    }

    header .navbar-nav .logo {
        border-radius: 20px;
        z-index: 1;
        background: #f7f7f7;
    }

    header .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
        font-family: "Lato Regular", sans-serif;
    }

    main .text-title-div .text-center {
        margin-top: 40px;
        font-size: 22px;
        margin-bottom: 30px;
        color: #005a5a;
    }

    main h5 {
        font-family: "Lato Bold", sans-serif;
        font-size: 20px;
        color: #003e43;
    }

    main p {
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
    }

    main .container-contact div.contacts,
    main .container-contact .search-city {
        background: white;
        margin-left: auto;
        margin-right: auto;
        width: 48%;
        min-height: 360px;
        padding: 20px;
    }

    main .search-city .custom-select {
        max-width: 288px;
        width: 100%;
        margin-left: 0;
        margin-right: 15px;
        margin-bottom: 15px !important;
    }

    main .search-city .select-city {
        margin-right: 0;
        margin-left: 15px;
    }

    main .search-city .dropdown-toggle {
        width: 48%;
        height: 40px;
        margin-top: 0;
        margin-bottom: 10px;
        border-radius: 0;
    }

    main .search-city .dropdown-menu {
        margin-top: 5px;
        border-radius: 0;
    }

    main .contacts .title {
        border-bottom: 1px solid #ce8a14;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    main .container-contact div.contacts .title,
    main .container-contact .search-city .title {
        color: #003e43;
        font-family: Lato-Medium, sans-serif;
        font-size: 18px;
    }

    main .container-contact div.contacts .phone,
    main .container-contact .search-city .phone {
        font-family: "Lato Bold", sans-serif;
    }

    main .container-contact .search-city .form-inline .btn-group {
        padding: 0;
    }

    main .container-contact .search-city .form-inline .btn-group button {
        background: white;
    }

    main .container-contact p.contacts {
        margin-top: 1rem;
    }

    main .network {
        width: 100%;
    }



    main .network form .input-group {
        padding-left: 0;
        padding-right: 0;
    }

    main .network form .number {
        padding-left: 0;
        padding-right: 0;
        max-width: 61.9%;
    }

    main .network form input,
    main .network form select {
        border-radius: 0;
        border: 1px solid #cfcfcf;
        height: 40px;
    }

    main .network form .message {
        max-width: 92.5%;
        height: 260px;
    }

    main .network form.aqua .button {
        background: #003e43;
        border-radius: 10px;
        margin-top: 45px;
    }

    main .network form .has-danger .form-control {
        border-color: #cc3333;
    }

    main .network form .has-danger .x-icon {
        color: #cc3333;
    }

    main .network form .has-danger .gold {
        color: #cc3333;
        margin-top: 8px;
    }

    main .network form .has-success .form-control {
        border-color: #005a5a;
    }

    main .network form .has-success .x-icon {
        color: #005a5a;
    }

    main .network form .text-left {
        color: #003e43;
        font-size: 16px;
        font-family: Lato-Medium, sans-serif;
        margin-bottom: .5rem;
    }

    main .network form .control-label {
        padding-left: 0;
    }

    main .network form .form-number p,
    main .network form .form-number {
        padding-left: 0;
    }

    main .network form .has-feedback {
        padding-left: 15px;
    }

    @media screen and (max-width: 992px) {
        main .search-city .dropdown-toggle {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        main .container-contact div.contacts,
        main .container-contact .search-city {
            width: 100%;
        }
        main .network form .number {
            max-width: 100%;
            width: 100%;
        }
        main .network form .form-number {
            max-width: 100%;
            width: 95%;
        }
        main .network form .has-feedback {
            padding-right: 0;
        }
    }

    @media screen and (max-width: 662px) {
        main .network form .number {
            max-width: 100%;
        }
        main .network form .message {
            max-width: 100%;
            height: 260px;
        }
        main .search-city .custom-select {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media screen and (max-width: 340px) {

        main .network form .form-number {
            max-width: 100%;
            width: 100%;
        }
    }

    .dropup .dropdown-toggle::after {
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }

    footer {
        background: #003e43;
        padding: 0 40px 40px 40px;
        margin-top: 50px;
    }

    footer .footer-block {
        vertical-align: top;
        margin-top: 40px;
    }

    footer .footer-block p {
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
    }

    footer .footer-block .nomer {
        font-size: 16px;
    }