    @font-face {
        font-family: Lato Regular;
        src: url(../fonts/Lato/Lato-Regular.ttf);
    }

    @font-face {
        font-family: Lato Bold;
        src: url(../fonts/Lato/Lato-Bold.ttf);
    }

    @font-face {
        font-family: Lato Light;
        src: url(../fonts/Lato/Lato-Light.ttf);
    }

    @font-face {
        font-family: Lato Semibold;
        src: url(../fonts/Lato/Lato-Semibold.ttf);
    }

    @font-face {
        font-family: Lato-Medium;
        src: url(../fonts/Lato/Lato-Medium.ttf);
    }

    @font-face {
        font-family: OpenSans-Regular;
        src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: OpenSans-SemiBold;
        src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
    }

    body .container {
        width: 1380px;
        background: #f7f7f7;
    }

    @media screen and (max-width: 576px) {
        body .container {
            max-width: 100%;
        }
    }

    header .navbar {
        background: #f7f7f7;
        box-shadow: 0 10px 15px -10px rgba(92, 82, 79, 0.4);
    }

    header .navbar .invisible-brand {
        border: none;
        background: #f7f7f7;
        z-index: 1;
        padding: 15px 30px;
        width: 180px;
    }

    header .navbar .brand2 {
        display: none;
    }

    @media screen and (max-width: 992px) {
        header .navbar .brand2 {
            display: inline-block;
            z-index: 1;
            background: #f7f7f7;
            width: 190px;
            padding: 10px 35px 20px 35px;
            border-radius: 15px;
        }
        header .navbar .button-burger {
            display: inline-block;
        }
        header .navbar-nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-flow: row wrap;
            align-items: center;
        }
        header .navbar-nav .nav-item {
            margin-top: 20px !important;
            text-align: center;
        }
    }

    @media screen and (max-width: 290px) {
        header .navbar .button-burger {
            position: inherit;
        }
    }

    @media screen and (max-width: 200px) {
        header .navbar .brand2 {
            padding-left: 0;
            width: 100%;
        }
    }

    header .navbar .button-burger {
        margin-top: 18px;
        width: 60px;
        z-index: 9999;
        right: 0;
    }

    header .navbar .collapse {
        align-items: center;
    }

    header .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: transparent;
        flex-grow: 1;
    }

    @media screen and (max-width: 992px) {
        header .navbar {
            height: auto;
            min-height: 95px;
        }
        header .navbar-nav .logo {
            display: none;
        }
    }

    header .navbar-nav .nav-item {
        margin-left: 20px !important;
        margin-top: 15px;
    }

    header .navbar-nav .nav-item .navbar-brand {
        margin: auto 2rem;
        padding-bottom: 10px;
    }

    header .navbar-nav .active .nav-link {
        color: #d5931c !important;
    }

    header .navbar-nav .logo {
        border-radius: 20px;
        z-index: 1;
        background: #f7f7f7;
    }

    header .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
        font-family: Lato Regular, sans-serif;
    }

    main .text-title-div .text-center {
        margin-top: 40px;
        font-size: 22px;
        margin-bottom: 30px;
        color: #005a5a;
    }

    main h5 {
        font-family: Lato Bold, sans-serif;
        font-size: 20px;
        color: #003e43;
    }

    main p {
        font-family: Lato Regular, sans-serif;
        font-size: 14px;
    }

    main nav {
        display: flex;
        justify-content: center;
    }


    main nav .pagination {
        overflow-x: hidden;
        vertical-align: bottom;
    }

    main nav .page-item.no-active a {
        color: #cccccc;
        background: white;
    }

    main nav .page-item a {
        color: #005a5a;
        background: white;
    }

    main nav .pagination .page-item.active a {
        color: #ce8a14;
        background: white;
    }

    main nav .page-link {
        border: none;
        border-radius: 0;
    }

    main .container-blocks .blocks {
        background: white;
        padding: 0 15px 0 0;
        margin-top: 20px;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    main .container-blocks .blocks .img {
        padding-left: 0;
        padding-right: 5px;
    }
    main .container-blocks .blocks .img img {
        padding-left: 0;
    }

    main .container-blocks .blocks .text {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    main .container-blocks .blocks .text p {
        margin-bottom: 10px;
    }

    main .container-blocks .blocks .text .date {
        border-bottom: 1px solid #ce8a14;
        padding-bottom: 10px;
        margin-bottom: 1rem;
    }
    main .container-blocks .blocks .text .btn {
        background: #ce8a14;
        width: 200px;
        padding: 5px 0;
        border-radius: 10px;
    }
    main .page-1 {
        margin-top: 40px;
    }
    footer {
        background: #003e43;
        padding: 0 40px 40px 40px;
        margin-top: 25px;
    }

    footer .footer-block {
        vertical-align: top;
        margin-top: 40px;
    }

    footer .footer-block p {
        font-family: Lato Regular, sans-serif;
        font-size: 14px;
    }

    footer .footer-block .nomer {
        font-size: 16px;
    }