    @font-face {
        font-family: Lato Regular;
        src: url(../fonts/Lato/Lato-Regular.ttf);
    }

    @font-face {
        font-family: Lato Bold;
        src: url(../fonts/Lato/Lato-Bold.ttf);
    }

    @font-face {
        font-family: Lato Light;
        src: url(../fonts/Lato/Lato-Light.ttf);
    }

    @font-face {
        font-family: Lato Semibold;
        src: url(../fonts/Lato/Lato-Semibold.ttf);
    }

    @font-face {
        font-family: OpenSans-Regular;
        src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: OpenSans-SemiBold;
        src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
    }

    body .modal .modal-dialog {
        max-width: 1190px;
        padding: 0;
        background: transparent;
    }

    @media screen and (max-width: 1200px) {
        body .modal {
            padding-right: 40px;
        }
        body .modal .modal-dialog {
            max-width: 100%;
            margin: 50px 20px;
        }
    }

    @media screen and (max-width: 992px) {
        .modal .modal-body .text-modal button {
            margin-left: 15px;
        }
        .modal .modal-body .text-modal .text-div {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
        .modal .modal-body .text-modal h5 {
            margin-top: 20px;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    }

    .modal .modal-content {
        /*padding: 20px;*/
        border: 0;
        border-radius: 10px;
    }

    .modal .modal-header {
        border-color: #ce8a14;
        margin: auto -5px;
    }

    .modal .modal-header h4 {
        font-size: 22px;
        color: #003e43;
    }

    .modal .modal-body {
        padding-left: 0;
        padding-right: 0;
    }

    .modal .modal-body .img-modal {

        padding-left: 20px;
        padding-right: 20px;
    }

    .modal .modal-body img {
        width: 100%;
        border-radius: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .modal .modal-body .text-modal {
        padding-left: 20px;
        padding-right: 20px;
    }

    .modal .modal-body .text-modal .text-div,
    .modal .modal-body .text-modal h5 {
        padding-left: 0;
    }

    .modal .modal-body .text-modal h5 {
        font-size: 18px;
        color: #003e43;
    }

    .modal p {
        font-size: 14px;
    }

    .modal .modal-body .text-modal button {
        background: #ce8a14;
        color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    body .container {
        width: 1380px;
        background: #f7f7f7;
    }

    @media screen and (max-width: 576px) {
        body .container {
            max-width: 100%;
        }
    }

    header .navbar {
        height: 95px;
        background: #f7f7f7;
    }

    header .navbar .invisible-brand {
        border: none;
        background: #f7f7f7;
        z-index: 1;
        padding: 15px 30px;
        width: 180px;
    }

    header .navbar .brand2 {
        display: none;
    }

    @media screen and (max-width: 992px) {
        header .navbar .brand2 {
            display: inline-block;
            z-index: 1;
            background: #f7f7f7;
            width: 190px;
            padding: 10px 35px 20px 35px;
            border-radius: 15px;
        }
        header .navbar .button-burger {
            display: inline-block;
        }
        header .navbar-nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-flow: row wrap;
            align-items: center;
        }
        header .navbar-nav .nav-item {
            margin-top: 20px !important;
            text-align: center;
        }
    }

    @media screen and (max-width: 290px) {
        header .navbar .button-burger {
            position: inherit;
        }
    }

    @media screen and (max-width: 200px) {
        header .navbar .brand2 {
            padding-left: 0;
            width: 100%;
        }
    }

    header .navbar .button-burger {
        margin-top: 18px;
        width: 60px;
        z-index: 9999;
        right: 0;
    }

    header .navbar .collapse {
        align-items: center;
    }

    header .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: transparent;
        flex-grow: 1;
    }

    @media screen and (max-width: 992px) {
        header .navbar {
            height: auto;
            min-height: 95px;
        }
        header .navbar-nav .logo {
            display: none;
        }
    }

    header .navbar-nav .nav-item {
        margin-left: 20px !important;
        margin-top: 70px;
    }

    header .navbar-nav .nav-item .navbar-brand {
        margin: auto 2rem;
        padding-bottom: 25px;
    }

    header .navbar-nav .active .nav-link {
        color: #d5931c !important;
    }

    header .navbar-nav .logo {
        border-radius: 20px;
        margin-top: 60px;
        z-index: 1;
        background: #f7f7f7;
    }

    header .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
        font-family: Lato Regular, sans-serif;
    }

    main .carousel-indicators li {
        max-width: 20px;
        height: 20px;
    }

    main .carousel-indicators .active {
        background: rgba(0, 0, 0, .5);
    }

    main .carousel .carousel-inner .text-block {
        background: rgba(255, 255, 255, .7);
        border-radius: 8px;
        position: static;
        margin-top: 170px;
        margin-bottom: 120px;
        bottom: auto;
    }

    @media screen and (max-width: 992px) {
        main .carousel .carousel-inner .text-block {
            margin-top: 50px;
            margin-bottom: 75px;
        }
    }

    @media screen and (max-width: 560px) {
        main .carousel .carousel-inner .text-block {
            margin-left: 0;
        }
    }

    main .carousel .carousel-inner .slide1,
    main .carousel .carousel-inner .slide2,
    main .carousel .carousel-inner .slide3 {
        background: no-repeat url(../img/slider-img.png);
    }

    main .carousel .carousel-inner .carousel-item {
        width: 100%;
        height: auto;
        background-size: cover;
    }

    main .carousel .carousel-inner .text-block h4 {
        color: #005a5a;
        font-family: Lato Bold, sans-serif;
    }

    main .carousel .carousel-inner .text-block p {
        color: #000000;
        font-family: Lato Regular, sans-serif;
    }

    main .carousel .carousel-inner .text-block .button-link {
        background: #005a5a;
        width: 200px;
        border-radius: 5px;
        border: none;
        font-family: Lato Regular, sans-serif;
    }

    main .the-firm {
        padding: 40px 10px 0 10px;
    }

    main .the-firm .text-center {
        color: #005a5a;
        font-family: Lato Bold, sans-serif;
    }

    main .icon-block {
        padding-bottom: 50px;
    }

    main .icon-block .about-creed {
        margin-top: 40px;
    }

    main .icon-block img {
        margin-left: 100px;
    }

    main .icon-block .handshake {
        margin-top: 15px;
    }

    main .icon-block h5 {
        margin-top: 10px;
        font-family: Lato Bold, sans-serif;
        font-size: 20px;
    }

    main .icon-block p {
        font-family: Lato Bold, sans-serif;
        font-size: 0.875em;
    }

    @media screen and (max-width: 230px) {
        main .the-firm {
            padding: 0;
        }
        main .icon-block img {
            margin-left: 0 !important;
        }
    }

    @media screen and (max-width: 250px) {
        main .icon-block img {
            margin-left: 40px;
        }
    }

    main .image-block {
        background: no-repeat url(../img/sud.png);
        padding-top: 25px;
        padding-bottom: 50px;
        background-size: cover;
        padding-right: 25px;
        padding-left: 25px;
    }

    main .image-block h3 {
        padding: 25px 0;
    }

    main .image-block .container-service {
        width: 100%;
    }

    main .image-block .service {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        width: 410px;
        padding: 10px 30px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    @media screen and (max-width: 560px) {
        main .image-block .service {
            width: auto;
        }
    }

    main .image-block .service h4 {
        color: #005a5a;
    }

    main .image-block .service hr {
        background: #ffffff;
    }

    main .image-block .service p {
        font-size: 14px;
    }

    main .image-block .service .orange-button {
        background: #ce8a14;
        border-radius: 5px;
        width: 200px;
    }

    main .image-block .more-button {
        margin-top: 25px;
        background: #003e43;
        border-radius: 5px;
        border: none;
        color: white;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
    }

    main .container-team {
        padding-top: 35px;
    }

    main .container-team h4 {
        color: #005a5a;
    }

    main .container-team .team .photo-block {
        margin-top: 40px;
        background: white;
    }

    main .container-team .team .photo-block img {
        padding: 0;
        border-radius: 10px 10px 0 0;
    }

    main .container-team .team .photo-block h5 {
        padding-left: 15px;
        padding-top: 15px;
    }

    main .container-team .team .photo-block p {
        padding-left: 15px;
    }

    main .news {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    main .news h4 {
        color: #005a5a;
        font-family: OpenSans-Bold, sans-serif;
    }

    main .news .container-news .news-block {
        width: 430px;
        margin-top: 40px;
    }

    main .news .container-news .news-block img {
        border-radius: 15px;
        padding: 0;
    }

    main .news .container-news .news-block h5 {
        font-family: OpenSans-SemiBold, sans-serif;
        color: #005a5a;
        margin-left: 15px;
        margin-top: 15px;
    }

    main .news .container-news .news-block p {
        font-family: OpenSans-Regular, sans-serif;
        font-size: 14px;
        margin-left: 15px;
    }

    main .news .container-news .news-block a {
        width: 200px;
        color: white;
        background: #ce8a14;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 15px;
    }

    footer {
        background: #003e43;
        padding: 0 40px 40px 40px;
        margin-top: 30px;
    }

    footer .footer-block {
        vertical-align: top;
        margin-top: 40px;
    }

    footer .footer-block p {
        font-family: Lato Regular, sans-serif;
        font-size: 14px;
    }

    footer .footer-block .nomer {
        font-size: 16px;
    }