    @font-face {
        font-family: Lato Regular;
        src: url(../fonts/Lato/Lato-Regular.ttf);
    }

    @font-face {
        font-family: Lato Bold;
        src: url(../fonts/Lato/Lato-Bold.ttf);
    }

    @font-face {
        font-family: Lato Light;
        src: url(../fonts/Lato/Lato-Light.ttf);
    }

    @font-face {
        font-family: Lato Semibold;
        src: url(../fonts/Lato/Lato-Semibold.ttf);
    }

    @font-face {
        font-family: Lato-Medium;
        src: url(../fonts/Lato/Lato-Medium.ttf);
    }

    @font-face {
        font-family: OpenSans-Regular;
        src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: OpenSans-SemiBold;
        src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
    }
    
    body .modal .modal-dialog {
        max-width: 1150px;
        padding: 0;
        background: transparent;
        z-index: 9999;
    }
    
    @media screen and (max-width: 1200px) {
        body .modal {
            padding-right: 40px;
        }
        body .modal .modal-dialog {
            max-width: 100%;
            margin: 50px 20px;
        }
    }

    @media screen and (max-width: 992px) {
        .modal .modal-body .text-modal button {
            margin-left: 15px;
        }
        .modal .modal-body .text-modal .text-div {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
        .modal .modal-body .text-modal h5 {
            margin-top: 20px;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    }

    .modal .modal-content {
        /*padding: 20px;*/
        border: 0;
        border-radius: 10px;
        background: #ffffff;
    }

    .modal .modal-header {
        border-color: #ce8a14;
        margin: auto -5px;
    }

    .modal .modal-header h4 {
        font-size: 22px;
        color: #003e43;
    }

    .modal .modal-header .close:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .modal .modal-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 50px;
    }

    .modal .modal-body .img-modal {

        padding-left: 20px;
        padding-right: 20px;
    }

    .modal .modal-body img {
        width: 100%;
        border-radius: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .modal .modal-body .text-modal {
        padding-left: 20px;
        padding-right: 20px;
    }

    .modal .modal-body .text-modal .text-div,
    .modal .modal-body .text-modal h5 {
        padding-left: 0;
    }

    .modal .modal-body h5 {
        font-size: 18px;
        color: #003e43;
        font-family: "Lato Bold", sans-serif;
    }

    .modal p {
        font-size: 14px;
    }

    .modal .modal-body .text-modal button {
        background: #ce8a14;
        color: white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .modal .modal-body .text-modal p {
        font-family: "Lato Regular", sans-serif;
    }
    .modal .modal-body .text-modal .text-div p {
        font-family: "Lato Bold", sans-serif;
    }
    .modal .modal-body a {
        padding: 3px;
        color: white;
        background: #ce8a14;
    }


    body .container {
        width: 1380px;
        background: #f7f7f7;
    }

    @media screen and (max-width: 576px) {
        body .container {
            max-width: 100%;
        }
    }

    header .navbar {
        background: #f7f7f7;
        box-shadow: 0 10px 15px -10px rgba(92, 82, 79, 0.4);
    }

    header .navbar .invisible-brand {
        border: none;
        background: #f7f7f7;
        z-index: 1;
        padding: 15px 30px;
        width: 180px;
    }

    header .navbar .brand2 {
        display: none;
    }

    @media screen and (max-width: 992px) {
        header .navbar .brand2 {
            display: inline-block;
            z-index: 1;
            background: #f7f7f7;
            width: 190px;
            padding: 10px 35px 20px 35px;
            border-radius: 15px;
        }
        header .navbar .button-burger {
            display: inline-block;
        }
        header .navbar-nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-flow: row wrap;
            align-items: center;
        }
        header .navbar-nav .nav-item {
            margin-top: 20px !important;
            text-align: center;
        }
    }

    @media screen and (max-width: 290px) {
        header .navbar .button-burger {
            position: inherit;
        }
    }

    @media screen and (max-width: 200px) {
        header .navbar .brand2 {
            padding-left: 0;
            width: 100%;
        }
    }

    header .navbar .button-burger {
        margin-top: 18px;
        width: 60px;
        z-index: 9999;
        right: 0;
    }

    header .navbar .collapse {
        align-items: center;
    }

    header .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: transparent;
        flex-grow: 1;
    }

    @media screen and (max-width: 992px) {
        header .navbar {
            height: auto;
            min-height: 95px;
        }
        header .navbar-nav .logo {
            display: none;
        }
    }

    header .navbar-nav .nav-item {
        margin-left: 20px !important;
        margin-top: 15px;
    }

    header .navbar-nav .nav-item .navbar-brand {
        margin: auto 2rem;
        padding-bottom: 10px;
    }

    header .navbar-nav .active .nav-link {
        color: #d5931c !important;
    }

    header .navbar-nav .logo {
        border-radius: 20px;
        z-index: 1;
        background: #f7f7f7;
    }

    header .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
        font-family: "Lato Regular", sans-serif;
    }

    main .text-title-div .text-center {
        margin-top: 40px;
        font-size: 22px;
        margin-bottom: 30px;
        color: #005a5a;
    }

    main h5 {
        font-family: "Lato Bold", sans-serif;
        font-size: 20px;
        color: #003e43;
    }

    main p {
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
    }

    main .world-map {
        overflow-x: auto;
        overflow-y: hidden;
    }

    main .world-map .map {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        height: 500px;
    }
    main .world-map .map .datamaps-hoverover .hoverinfo {
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.9);
        border: none;
        padding: 20px;
    }
    main .world-map .map .datamaps-hoverover .hoverinfo h5 {
        color: #ce8a14;
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
    }
    main .world-map .map .datamaps-hoverover .hoverinfo p {
        margin-bottom: 25px;
        margin-top: 15px;
    }
    main .world-map .map .datamaps-hoverover .hoverinfo .podr {
        color: #005a5a;
        font-size: 14px;
        font-family: "Lato Regular", sans-serif;
        margin-bottom: 0;
        margin-top: 0;
    }
    main .blocks h5 {
        margin-bottom: 45px;
    }
    main .blocks .block {
        background: white;
        margin-left: 15px;
        margin-right: 5px;
        width: 419px;
        margin-bottom: 50px;
        padding: 30px;
    }

    @media screen and (max-width: 1345px) {
        main .blocks {
            justify-content: center !important;
        }
    }

    main .blocks .block .title {
        font-size: 20px;
        font-family: "Lato Semibold", sans-serif;
        margin-bottom: 5px;
    }

    main .blocks .block .border {
        border-bottom: 1px solid #ce8a14;
        padding-bottom: 10px;
    }

    main .blocks .block .btn {
        background: #ce8a14;
        border-radius: 5px;
        padding: 2px 0 !important;
    }

    footer {
        background: #003e43;
        padding: 0 40px 40px 40px;
        margin-top: 25px;
    }

    footer .footer-block {
        vertical-align: top;
        margin-top: 40px;
    }

    footer .footer-block p {
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
    }

    footer .footer-block .nomer {
        font-size: 16px;
    }