    @font-face {
        font-family: Lato Regular;
        src: url(../fonts/Lato/Lato-Regular.ttf);
    }

    @font-face {
        font-family: Lato Bold;
        src: url(../fonts/Lato/Lato-Bold.ttf);
    }

    @font-face {
        font-family: Lato Light;
        src: url(../fonts/Lato/Lato-Light.ttf);
    }

    @font-face {
        font-family: Lato Semibold;
        src: url(../fonts/Lato/Lato-Semibold.ttf);
    }

    @font-face {
        font-family: OpenSans-Regular;
        src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: OpenSans-SemiBold;
        src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
    }

    body .container {
        width: 1380px;
        background: #f7f7f7;
    }

    @media screen and (max-width: 576px) {
        body .container {
            max-width: 100%;
        }
    }

    header .navbar {
        background: #f7f7f7;
    }

    header .navbar .invisible-brand {
        border: none;
        background: #f7f7f7;
        z-index: 1;
        padding: 15px 30px;
        width: 180px;
    }

    header .navbar .brand2 {
        display: none;
    }

    @media screen and (max-width: 992px) {
        header .navbar .brand2 {
            display: inline-block;
            z-index: 1;
            background: #f7f7f7;
            width: 190px;
            padding: 10px 35px 20px 35px;
            border-radius: 15px;
        }
        header .navbar .button-burger {
            display: inline-block;
        }
        header .navbar-nav {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-flow: row wrap;
            align-items: center;
        }
        header .navbar-nav .nav-item {
            margin-top: 20px !important;
            text-align: center;
        }
    }

    @media screen and (max-width: 290px) {
        header .navbar .button-burger {
            position: inherit;
        }
    }

    @media screen and (max-width: 200px) {
        header .navbar .brand2 {
            padding-left: 0;
            width: 100%;
        }
    }

    header .navbar .button-burger {
        margin-top: 18px;
        width: 60px;
        z-index: 9999;
        right: 0;
    }

    header .navbar .collapse {
        align-items: center;
    }

    header .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: transparent;
        flex-grow: 1;
    }

    @media screen and (max-width: 992px) {
        header .navbar {
            height: auto;
            min-height: 95px;
        }
        header .navbar-nav .logo {
            display: none;
        }
    }

    header .navbar-nav .nav-item {
        margin-left: 20px !important;
        margin-top: 15px;
    }

    header .navbar-nav .nav-item .navbar-brand {
        margin: auto 2rem;
        padding-bottom: 25px;
    }

    header .navbar-nav .active .nav-link {
        color: #d5931c !important;
    }

    header .navbar-nav .logo {
        border-radius: 20px;
        z-index: 1;
        background: #f7f7f7;
    }

    header .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 1) !important;
        font-family: Lato Regular, sans-serif;
    }
    
    main .container-blocks .text-blocks {
        display: inline-block;
        width: 435px;
        padding: 25px;
    }
    
    main h5 {
        font-family: Lato Bold, sans-serif;
        font-size: 20px;
        color: #003e43;
    }
    main .hr {
        padding-bottom: 15px;
        border-bottom: 3px solid white;
    }
    main p {
        font-family: Lato Regular, sans-serif;
        font-size: 14px;
    }

    main hr {
        background: #ffffff;
    }

    footer {
        background: #003e43;
        padding: 0 40px 40px 40px;
        margin-top: 30px;
    }

    footer .footer-block {
        vertical-align: top;
        margin-top: 40px;
    }

    footer .footer-block p {
        font-family: Lato Regular, sans-serif;
        font-size: 14px;
    }

    footer .footer-block .nomer {
        font-size: 16px;
    }